.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  color: #61c6c4;
  text-align: center;
}

.post {
  background-color: white;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  padding: 1%;
  border-radius: 5px;
}

.post-id {
  text-align: right;
}

.post-title {
  color: #61c6c4;
  font-weight: bold;
  font-size: large;
}

.post-user {
  color: black;
  font-size: small;
}

html{
  background-color: #f7f7f7;
}

